
.memory{
    margin-top: 10%;
}
.storage{
    margin-top: 10%;
}
.delivery{
    margin-top: 10%;
}
.price-Table-container{
    margin-top: 10%;

}
.promo-code-container{
    margin-top: 2%;
}
footer{
    margin-top: 10%;
}